@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom styles */
html {
  font-family: 'Orbitron', sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}